<!-- afficher le nom de l'untilisateur dans la page d'acceuil -->
<h1>Hi <%= name %> Welcome to SEAAL</h1>

<!-- cree un formulaire pour la deconnection  -->
<form action="/logout?_method=delete" method="POST">
  <button type="submit">Log Out</button>
</form>
